$desktop-width: 1440px;

$color-text: rgb(44, 43, 42);
$color-background:  rgb(255, 255, 255);
$color-shadow: rgba(44, 43, 42, 0.7);
$color-gradient1: rgba(39, 67, 140, 1);
$color-gradient2: rgba(243, 160, 66, 1);
$color-gradient3: rgba(236, 110, 155, 1) ;

$font-alata: "Alata", "Alata-Regular", "Arial", sans-serif;
$font-marcellus: "Marcellus", "Marcellus-Regular", "Arial", sans-serif;
